body {
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width:599px) {
    img {
    max-width: 110%;
    height: auto;
  }
}
html {
    font-size: 100%;
  }
  
  @media (max-width: 599px) {
    html {
      font-size: 90%;
    }
  }
  


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;

}

.header h1, .header h2, .header h3 {
    font-size: 12px;
    margin: 0;
    text-transform: capitalize;
    @media (max-width: 599px) {
        font-size: 7px;
        left: 9;
}
}

.header h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: 599px) {
        position: absolute;
        left: 43%;
        transform: translateX(-43%);
    }

}

.header h3 {
    position: absolute;
    right: 5%;
    transform: translateX(-5%);
    @media (max-width: 599px) {
        position: absolute;
        right: 0.5%;
        transform: translateX(-0.5%);
    }
   
}

.header-plain {
    margin-top: 20px;
    position: relative;
}

.header-plain h1 {
    font-size: 45px;
    top: -20px;
    position: absolute;
    left: 7%;
    transform: translateX(-7%);
    text-transform: capitalize;
    color: #003366;
    text-align: left;
    @media screen and (max-width:599px) {
        position: absolute;
        left: 10%;
        transform: translateX(-10%);
        text-transform: capitalize;
        top: -18px;
        font-size: 20px;
    }
}

.header-plain h3 {
    font-size: 20px;
    position: absolute;
    right: 5%;
    transform: translateX(-5%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    color:  #003366;;
    padding: 10px 20px;
    border-radius: 5px;
    @media screen and (max-width:599px) {
        font-size: 15px;
        position: absolute;
        right: 1%;
        transform: translateX(-1%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: yellow;
        color:  #003366;;
        padding: 3px 6px;
        border-radius: 3px;
        top: 30px;
        z-index: 10;
    }
}        
.header-plain h6 {
    font-size: 10px;
    position: absolute;
    right: 27.3%;
    transform: translateX(-27.3%);
    color: grey;
    @media screen and (max-width:599px) {
        font-size: 8px;
        position: absolute;
        right: 1%;
        transform: translateX(-1%);
        top: -30px;
        z-index: 10;
    }
}

.header-plain h2 {
    font-size: 32px;
    position: absolute;
    right: 20.5%;
    transform: translateX(-20.5%);
    color: #003366;
    margin-top: 34px;
    @media screen and (max-width:599px) {
        font-size: 13px;
        position: absolute;
        right: 3%;
        transform: translateX(-3%);
        top: -30px;
    }
}

hr {
    margin: 110px 0;
    border: none;
    border-top: 1px solid #000000;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap; 
    position: absolute;
    top: 170px; 
    left: 50px;
    right: 300px; 
  }
  
  .nav-item {
    color: #003366;
    margin: 0 9px; 
  }
  
  @media screen and (max-width: 599px) {
    .nav-container {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 170px; 
      left: 3px; 
      font-size: 45%;
      flex-wrap: nowrap;
    }
  
    .nav-item {
      margin:  o 3.5px; 
    }
  }
  

.image-container {
    position: absolute;
    top: 210px;
    right: 10%;
    left: 10px;
}

.nav-container1 {
    position: absolute;
    top: 250px;
    left: 66px;
    z-index: 10;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 200px;
        left: 15px;
    }
}

.nav-container1 .nav-items {
    font-size: 45px;
    color: #ffffff;
    @media screen and (max-width:599px) {
        font-size: 25px;
    } 
}

.nav-container2 {
    position: absolute;
    top: 310px;
    left: 66px;
    z-index: 10;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 230px;
        left: 15px;
    }
}

.nav-container2 .nav-items {
    font-size: 45px;
    color: #ffffff;
    @media screen and (max-width:599px) {
        font-size: 25px;
    } 
}

p1{
    position: absolute;
    top: 440px;
    left: 70px;
    z-index: 10; 
    font-size: 20px;
    color: #ffffff;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 285px;
        left: 15px;
        z-index: 10; 
        font-size: 13px;
    }
}

.nav-container3 .nav-items {
    position: absolute;
    top: 530px;
    left: 80px;
    z-index: 10; 
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    color:  #003366;;
    padding: 10.5px 20.5px;
    border-radius: 5px;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 460px;
        left: 70px;
        z-index: 10; 
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 3px;
    }
    
}
.nav-container3 .nav-item {
    position: absolute;
    top: 550.5px;
    left: 250px; 
    z-index: 10; 
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    color:  #003366;;
    padding: 10px 20px;
    border-radius: 5px;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 475px;
        left: 190px; 
        z-index: 10; 
        font-size: 14.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: yellow;
        color:  #003366;;
        padding: 5px 10px;
        border-radius: 3px;
    }
}

.nav-container4 {
    position: absolute;
    top: 230px;
    left: 5px;
    z-index: 10;
    width: 80%;
}

.nav-container4 .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1px;
    background-color: #003366;
    color: #003366;
    padding: 100px;
    text-align: left;
    margin: 0;
    width: 95%;
    @media screen and (max-width:599px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 1px;
        background-color: #003366;
        color: #003366;
        padding: 100px 48px;
        top: 290px;
        left: 0px;
        margin: 0;
        width: 93%;
    }
}

.nav-container5 .nav-items1 {
    position: absolute;
    top: 750px;
    left: 140px;
    z-index: 10;
    font-size: 35px;
    color: #ffffff;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 510px;
        left: 10px;
        z-index: 10;
        font-size: 20px;
    }
}

.nav-container6 .nav-items2 {
    position: absolute;
    top: 795px;
    left: 140px;
    z-index: 10;
    font-size: 35px;
    color: #ffffff;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 510px;
        left: 150px;
        z-index: 10;
        font-size: 20px;
    }
}

.nav-container7 .nav-items3 {
    position: absolute;
    top: 840px;
    left: 140px;
    z-index: 10;
    font-size: 35px;
    color: #ffffff;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 510px;
        left: 235px;
        z-index: 10;
        font-size: 20px;
    }
}

.image-container2 {
    position: absolute;
    top: 800px;
    left: 550px;
    z-index: 10;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 580px;
        left: 53px;
        z-index: 10;
        img {
            max-width: 60%;
            height: auto;
          }
    }
}

.image-container3 {
    position: absolute;
    top: 800px;
    left: 775px;
    z-index: 10;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 580px;
        left: 155px;
        z-index: 10;
        img {
            max-width: 60%;
            height: 90px;
          }
    }
}

.image-container4 {
    position: absolute;
    top: 800px;
    left: 1000px;
    z-index: 10;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 580px;
        left: 257px;
        z-index: 10;
        img {
            max-width: 60%;
            height: 90px;
          }
    }
}

.image-container5 {
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 10;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 50px;
        left: 5px;
        z-index: 10;
        img {
            max-width: 50%;
            height: 50;
          }
    }
}

.image-container6 {
    position: absolute;
    top: 88px;
    left: 720px;
    z-index: 10;
}

@media screen and (max-width:599px) {
    .image-container13 {
        position: absolute;
        top: 46px;
        right: 105px;
        z-index: 10;
    }
}

.image-container7 {
    position: absolute;
    top: 165px;
    left: 1100px;
    z-index: 10;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 120px;
        left: 10px;
        z-index: 10;
        img {
            max-width: 50%;
            height: auto;
          }
    }
}

.image-container8 {
    position: absolute;
    top: 165px;
    left: 1160px;
    z-index: 10;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 115px;
        left: 40px;
        z-index: 10;
        img {
            max-width: 50%;
            height: auto;
          }
    }
}


.image-container9 {
    position: absolute;
    top: 850px;
    left: 460px;
    z-index: 10;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 615px;
        left: 15px;
        z-index: 10;
        img {
            max-width: 50%;
            height: 50%;
          }
    }
}

.image-container10 {
    position: absolute;
    top: 850px;
    left: 1200px;
    z-index: 10;
    @media screen and (max-width:599px) {
        position: absolute;
        top: 615px;
        left: 362px;
        z-index: 10;
        img {
            max-width: 75%;
            height: 75%;
          }
    }
}


.image-container11 {
    position: absolute;
    top: 16px;
    margin: 0%;
    z-index: 10;
    @media screen and (max-width:599px) {
        top: 13px;
        left: 3%;
        img {
            max-width: 70%;
            height: 70%;
          }
    }
}

.image-container12 {
    position: absolute;
    top: 16px;
    left: 590px;
    z-index: 10;
}

@media screen and (max-width:599px) {
   .image-container12 {
    position: absolute;
    top: 13px;
    left: 32%;
    z-index: 10;
    img {
        max-width: 70%;
        height: 70%;
      }
   }
}

@media screen and (max-width:599px) {
    .image-container {
        top: 200px;
    }
}
